@import "./variables.scss";
@import "./mixins.scss";
@import "./text.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  font-family: $avenir;
}

h1 {
  @include pageHeading;
}
