@import "./variables.scss";
@import "./breakpoints.scss";

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexColumn { flex-direction: column; }

@mixin padding5 { padding: 0 $padding5; }

@mixin iconLink {
  color: $stockBlack;
  transition: $transition;
}

@mixin button {
  @include link;
  color: $stockWhite;
  border: 1px solid $stockWhite;
  transition: $transition;
  font-size: $font17;
}

@mixin link {
  padding: 10px 20px;
  font-weight: 600;
  transition: $transition;
}

@mixin demoLink {
  @include button;
  color: $stockBlack;
  border: 1px solid $stockBlack;
}

@mixin codeLink {
  @include link;
  color: $stockBlack;
  font-size: $font17;
  &:hover { margin-left: 3px; }
}