@import "./variables.scss";

@mixin tablet {
  @media (min-width: $tabletBreakpoint) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktopBreakpoint) {
    @content;
  }
}

@mixin name {
  font-size: 40px;
  @include tablet {
    font-size: 70px;
  }
  @include desktop {
    font-size: 100px;
  }
}

@mixin occupation {
  font-size: 20px;
  margin: 20px 0;
  display: inline-block;
  @include tablet {
    font-size: 30px;
  }
  @include desktop {
    font-size: 35px;
  }
}

@mixin bio {
  color: $stockWhite;
  font-size: 20px;
  margin: 20px 0;
  @include tablet {
    font-size: 22px;
    line-height: 32px;
  }
  @include desktop {
    font-size: 20px;
  }
}

@mixin centerText {
  text-align: center;
}

@mixin button {
  border-radius: 5px;
  padding: 10px 20px;
  font-weight: 600;
  color: $stockWhite;
  border: 1px solid $stockWhite;
  transition: 0.1s ease-in-out;
  font-size: 20px;
}

@mixin invertToWhite {
  border: $stockWhite;
  background: $stockWhite;
  color: $stockBlack;
}
