@import "./variables.scss";

@mixin tablet {
  @media (min-width: $tabletBreakpoint) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktopBreakpoint) {
    @content;
  }
}

@mixin name {
  font-size: 40px;
  @include tablet {
    font-size: 70px;
  }
  @include desktop {
    font-size: 100px;
  }
}

@mixin occupation {
  font-size: 20px;
  margin: 20px 0;
  display: inline-block;
  @include tablet {
    font-size: 30px;
  }
  @include desktop {
    font-size: 35px;
  }
}

@mixin headshot {
  width: 260px;
  border-radius: 5px;
  @include tablet {
    width: 280px;
  }
  @include desktop {
    width: 300px;
  }
}

@mixin bio {
  color: $stockWhite;
  font-size: 18px;
  margin: 20px auto;
}

@mixin textCenter {
  text-align: center;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin iconLink {
  color: $stockBlack;
  outline: none;
  transition: 0.1s ease-in-out;
}

@mixin button {
  @include link;
  border-radius: 5px;
  font-weight: 600;
  color: $stockWhite;
  border: 1px solid $stockWhite;
  transition: 0.1s ease-in-out;
  font-size: 20px;
}

@mixin invertToWhite {
  border-color: $stockWhite;
  background: $stockWhite;
  color: $stockBlack;
}

@mixin invertToBlack {
  border-color: $stockBlack;
  background: $stockBlack;
  color: $stockWhite;
}

@mixin link {
  padding: 10px 20px;
}

@mixin demoLink {
  @include button;
  font-size: 16px;
  color: $stockBlack;
  border: 1px solid $stockBlack;
}
